<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">RentApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" id="specialNav"href="/listing">New Listing<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <ul class=" nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="specialNav1" href="/profile">Profile</a>
      </li>
    </ul>
    <ul class=" nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="specialNav2" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- search bar --}}
<div id="searchbar-form">
    <form method="POST" action="/search" class="search-bar" id="search-bar">
        <div class="input-group mb-3">
           <select class="form-control col-md-2" id="selectSearch" name="selectSearch" required>
                <option value="Requests">Requests</option>
                <option value="Listings">Listings</option>
            </select>
            <input type="text" class="form-control" name="searchContent" placeholder="Search Here" id="search" required>
            <input type="text" class="form-control" name="cityContent" placeholder="City" id="city" required>
            <div class="input-group-append">
<<<<<<< HEAD
                <i class="btn" id = "find-me" type="button" name="location"><i class="fa fa-map-marker"></i></i>
                <button type="submit" class="btn btn-success" id="searchButton">Search</button>
=======
                <button type="submit" class="btn btn-primary" id="submitButton" type="button">Submit</button>
>>>>>>> bf09970f9be14417cbff9d5e10eeba464735d72a
            </div>
        </div>
    </form>
</div>
<<<<<<< HEAD


=======
<h1 class="text-center">Recently added items</h1>
>>>>>>> bf09970f9be14417cbff9d5e10eeba464735d72a
<div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="carousel-inner row w-10 mxauto" role="listbox">
            <div class="carousel-item col-md-4 active">
                <figure class="card card-product1" alt="slide 1">
                    <div class="headercar">{{img1.requested}}</div>
		            <div class="img-wrap1"><img src="{{img1.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img1.itemName}}</h2>
				        <p class="desc">{{img1.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img1.name}}</p>
                        <p>Email id:{{img1.email}}</p>
                        <p>Contact No:{{img1.phoneNumber}}</p>
                        <p>Location:{{img1.city}},{{img1.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 2">
                    <div class="headercar">{{img2.requested}}</div>
		            <div class="img-wrap1"><img src="{{img2.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img2.itemName}}</h2>
				        <p class="desc">{{img2.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img2.name}}</p>
                        <p>Email id:{{img2.email}}</p>
                        <p>Contact No:{{img2.phoneNumber}}</p>
                        <p>Location:{{img2.city}},{{img2.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 3">
                    <div class="headercar">{{img3.requested}}</div>
		            <div class="img-wrap1"><img src="{{img3.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img3.itemName}}</h2>
				        <p class="desc">{{img3.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img3.name}}</p>
                        <p>Email id:{{img3.email}}</p>
                        <p>Contact No:{{img3.phoneNumber}}</p>
                        <p>Location:{{img3.city}},{{img3.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 4 ">
                    <div class="headercar">{{img4.requested}}</div>
		            <div class="img-wrap1"><img src="{{img4.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img4.itemName}}</h2>
				        <p class="desc">{{img4.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img4.name}}</p>
                        <p>Email id:{{img4.email}}</p>
                        <p>Contact No:{{img4.phoneNumber}}</p>
                        <p>Location:{{img5.city}},{{img5.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 5 ">
                    <div class="headercar">{{img5.requested}}</div>
		            <div class="img-wrap1"><img src="{{img5.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img5.itemName}}</h2>
				        <p class="desc">{{img5.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">

                        <p>Name:{{img5.name}}</p>
                        <p>Email id:{{img5.email}}</p>
                        <p>Contact No:{{img5.phoneNumber}}</p>
                        <p>Location:{{img5.city}},{{img5.state}}</p>

		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 6">
                    <div class="headercar">{{img6.requested}}</div>
		            <div class="img-wrap1"><img src="{{img6.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img6.itemName}}</h2>
				        <p class="desc">{{img6.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img6.name}}</p>
                        <p>Email id:{{img6.email}}</p>
                        <p>Contact No:{{img6.phoneNumber}}</p>
                        <p>Location:{{img6.city}},{{img6.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 7">
                    <div class="headercar">{{img7.requested}}</div>
		            <div class="img-wrap1"><img src="{{img7.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img7.itemName}}</h2>
				        <p class="desc">{{img7.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img7.name}}</p>
                        <p>Email id:{{img7.email}}</p>
                        <p>Contact No:{{img7.phoneNumber}}</p>
                        <p>Location:{{img7.city}},{{img7.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
            <div class="carousel-item col-md-4">
                <figure class="card card-product1" alt="slide 8">
                    <div class="headercar">{{img8.requested}}</div>
		            <div class="img-wrap1"><img src="{{img8.cloudinaryURL}}" alt="itemImage"></div>
		            <figcaption class="info-wrap1">
				        <h2 class="title">{{img8.itemName}}</h2>
				        <p class="desc">{{img8.itemDescription}}</p>
		            </figcaption>
		            <div class="bottom-wrap1">
                        <p>Name:{{img8.name}}</p>
                        <p>Email id:{{img8.email}}</p>
                        <p>Contact No:{{img8.phoneNumber}}</p>
                        <p>Location:{{img8.city}},{{img8.state}}</p>
		            </div> <!-- bottom-wrap.// -->
	            </figure>
            </div>
        </div>
        <a aria-label="previous"class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">

            <i class="fa fa-chevron-left fa-lg text-muted">
              <<
            </i>

            <span class="sr-only" id="invis">Previous</span>
        </a>
        <a  aria-label="next" class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted">
              >>
            </i>
            <span class="sr-only" id="invis1">Next</span>
        </a>
    </div>
</div>

<script src="public/javascript/carousel.js"></script>
<script src="public/javascript/location.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnKr5o0fbzSWzkVKBTIawW4KSCQCBDtEs&libraries=places" async defer></script>
