{{!-- navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">RentApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class=" nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <ul class=" nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
<br>
<h1 class="text-center">{{type}}</h1>
<hr>
<div class="row">
{{#each resultList}}
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="{{this.cloudinaryURL}}"></div>
		<figcaption class="info-wrap">
				<h4 class="title">{{this.itemName}}</h4>
				<p class="desc">{{this.itemDescription}}</p>
                <p class="desc">Location: {{this.city}}</p>
                <p class="desc">User: {{this.userName}}</p>
                <p class="desc">Contact No: {{this.phoneNumber}}</p>
                <p class="desc">Email: {{this.email}}</p>

				{{!-- <div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// --> --}}
		</figcaption>
		<div class="bottom-wrap">
			<div class="price-wrap h5">
				<span class="price-new">${{this.price}}</span>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
{{/each}}


</div> <!-- row.// -->
</div>
<!--container.//-->
<br><br><br>
<article class="bg-secondary mb-3">
<div class="card-body text-center">
    {{!-- <h4 class="text-white">HTML UI KIT <br> Ready to use Bootstrap 4 components and templates </h4>
<p class="h5 text-white"> for Ecommerce, marketplace, booking websites
and product landing pages</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com   --}}
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br><br>
</article>
